// Style footer css in this file

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.footer-container {
	background-color: hsl(308, 87%, 49%);
	padding-bottom: 4rem;
}
.footer {
	width: 100%;
	height: 40%;
	background-color: hsl(308, 87%, 49%);
	color: #fff;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.footer-heading {
	display: flex;
	flex-direction: column;
	margin: 4rem;
}

.footer-heading h2 {
	margin-bottom: 2rem;
	color: #ffffff;
	font-family: Arial, Helvetica, Sans-seriff;
}

.footer-heading a {
	text-decoration: none;
	margin-bottom: 0.5rem;
	color: #ffffff;
	font-family: Arial, Helvetica, Sans-seriff;
}

h3 {
	padding: 15px 0;
	text-align: center;
	font-family: Arial, Helvetica, Sans-seriff;
	color: #ffffff;
}
