h1,
h2,
h3,
h4,
h5 {
	color: $mainPurple;
	font-family: $digitalOasisTypeface;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	color: $black;
	font-family: $generalFont;
	font-style: normal;
}

i {
	color: $lightestOrange;
}

[class*='heading'] {
	font-family: $digitalOasisTypeface;
	font-style: normal;
	color: $mainPurple;
	letter-spacing: 2px;
}

.heading-1 {
	font-size: 42px;
	font-weight: 400;
}

.heading-2 {
	font-size: 29px;
	font-weight: 400;
}

.heading-3 {
	font-size: 20px;
	font-weight: 700;
}

.sub-text {
	font-size: 12px;
	font-weight: 400;
}
