/*
* Utilities CSS - inspired by Tailwind CSS
*/

.text-white {
	color: $white;
}

.text-black {
	color: $black;
}

.text-med-orange {
	color: $medOrange;
}

.uppercase {
	text-transform: uppercase;
}

.bg-primary {
	background-color: $mainOrange;
}
