/* COLOR */

$mainPurple: #800080;
$lightPurple: #a02c89;
$mainOrange: #ff6600;
$medOrange: #ff9955;
$lightOrange: #ffe6d5;
$lightOrange: #ffe6d5;
$gray1: #cccccc;
$gray2: #c7c9c7;
$black: #000000;
$white: #ffffff;

/* FONT */
$digitalOasisFrame: 'DigitalOasisFrame', Courier, monospace;
$digitalOasisFrameBack: 'digitalOasisFrameBack', Courier, monospace;
$digitalOasisFrameFront: 'digitalOasisFrameFront', Courier, monospace;
$digitalOasisOutline: 'digitalOasisOutline', Courier, monospace;
$digitalOasisOutliner: 'digitalOasisOutliner', Courier, monospace;
$digitalOasisShadow: 'digitalOasisShadow', Courier, monospace;
$digitalOasisTypeface: 'digitalOasisTypeface', Courier, monospace;
$generalFont: 'Anek Kannada';
