/* COLOR */

$mainPurple: #800080;
$lightPurple: #a02c89;
$mainOrange: #ff6600;
$medOrange: #ff9955;
$lightestOrange: #ffe6d5;
$lightPink: #fdf2fb;
$gray1: #cccccc;
$gray2: #c7c9c7;
$gray3: #d9d9d9;
$gray4: #737373;
$black: #000000;
$white: #ffffff;

/* FONT */
$digitalOasisFrame: 'DigitalOasisFrame', Courier, monospace;
$digitalOasisFrameBack: 'digitalOasisFrameBack', Courier, monospace;
$digitalOasisFrameFront: 'digitalOasisFrameFront', Courier, monospace;
$digitalOasisOutline: 'digitalOasisOutline', Courier, monospace;
$digitalOasisOutliner: 'digitalOasisOutliner', Courier, monospace;
$digitalOasisShadow: 'digitalOasisShadow', Courier, monospace;
$digitalOasisTypeface: 'digitalOasisTypeface', Courier, monospace;
$generalFont: 'Anek Kannada';

/* RESPONSIVE */
$sm: 576px; // ≥ 576px
$md: 768px; // ≥ 768px
$lg: 992px; // ≥ 992px
$xl: 1200px; // ≥ 1200px
$xxl: 1400px; // ≥ 1400px
